.sign-up-container {
  max-width: 800px;
  margin: auto;
}

.field-container {
  margin-bottom: 20px;
}

.error {
  background-color: rgba(255, 0, 0, 0.5);
}

input:invalid + span::after {
  content: '✖';
  padding-left: 5px;
}

input:valid + span::after {
  content: '✓';
  padding-left: 5px;
}

.salary-error-message {
  color: red;
}
